

li{
	font-family: 'Roboto' , sans-serif;
	list-style: none;
	
}

#sidebar{
	position: fixed;
	
	left: 0px;
	width: 250px;
	height: 100%;
	background: #0a4550;
	transition: all .5s ease;
}


#sidebar ul p{
display: block;
height: 100%;
width: 95%;
line-height: 65px;
font-size: 20px;
color:white;
cursor: pointer;
box-sizing: border-box;
border-top: 1px solid rgba(255,255,255,.1);
border-bottom: 1px solid black;
transition: .4s;

}

#sidebar ul p:hover{

    color: red;
}

#check{
	display: none;

}










